/src/smachara
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/NDUI.iml
/.idea/.name
/bin/sym9AEC.tmp
/htdocs/uploads/Symbol/42e4b278-25c7-11e7-b4f1-02004c4f4f50.png
/htdocs/uploads/Symbol/a8e408b0-25c5-11e7-b4f1-02004c4f4f50.png
/htdocs/uploads/Symbol/bb9677e2-25c7-11e7-b4f1-02004c4f4f50.png
/src/AppBundle/Resources/public/image/symbols/RoundedRectangle.dia~
/src/AppBundle/Resources/public/image/symbols/network.svg.png
/src/AppBundle/Resources/public/image/symbols/nmap-7.40-setup.exe
/src/AppBundle/Resources/public/image/symbols/trinagleDown.dia~
/src/AppBundle/Resources/public/image/symbols/virtual_machine.dia~
